<nav class="flex items-center">
  <ul class="flex-1 flex justify-end items-center h-full gap-3 text-lg font-semibold">
    <li><a href="{{ url_for('home.dashboard') }}" class="flex gap-1 hover:font-bold"><i class="bi bi-house-fill"></i>Home</a></li>
    <li><a href="#" class="flex gap-1 hover:font-bold"><i class="bi bi-person-fill"></i>Profilo</a></li>
    <li><a href="{{ url_for('auth.logout') }}" class="flex gap-1 hover:font-bold"><i class="bi bi-box-arrow-right"></i>Logout</a></li>
  </ul>
</nav>