<footer class="h-20" id="footer">
  <div class="mb-0 h-20 flex flex-col">

    <nav class="px-5 xl:px-10">

      <ul class="flex justify-around flex-wrap gap-3">
        <li>
          <a href="tel:+39 123456789" class="flex gap-2 text-md xl:text-xl hover:underline hover:font-bold">
            <i class="bi bi-telephone-fill"></i>
            Chiama
          </a>
        </li>

        <li>
          <a href="mailto:mailprova@mail.it" class="flex gap-2 text-md xl:text-xl hover:underline hover:font-bold">
            <i class="bi bi-envelope-fill"></i>
            E-mail
          </a>
        </li>

        <li>
          <a href="https://it.linkedin.com/" target="_blank" noreferrer noopener
            class="flex gap-2 text-md xl:text-xl hover:underline hover:font-bold">
            <i class="bi bi-linkedin"></i>
            Lavora
          </a>
        </li>

        <li>
          <a href="https://www.whatsapp.com/?lang=it" target="_blank" noreferrer noopener
            class="flex gap-2 text-md xl:text-xl hover:underline hover:font-bold">
            <i class="bi bi-whatsapp"></i>
            Messaggia
          </a>
        </li>

        <li>
          <a href="https://github.com/Matty-Coding" target="_blank" noreferrer noopener
            class="flex gap-2 text-md xl:text-xl hover:underline hover:font-bold">
            <i class="bi bi-github"></i>
            Matty-Coding
          </a>
        </li>
      </ul>

    </nav>

    <div class="flex-1 flex items-center justify-center xl:justify-start text-sm xl:text-lg px-5">
      <p>&copy; {{ current_year }} Tutti i diritti sono riservati all'autore.</p>
    </div>

  </div>
</footer>