<section>
  <h1 class="text-7xl font-bold text-center p-10">
    Software Gestionale
  </h1>

  <p class="text-3xl font-semibold text-center w-6xl py-5 px-10 mx-auto">
    Monitora scorte, ordini e fornitori con un sistema scalabile e sicuro,
    progettato per aiutarti a gestire il tuo magazzino con efficienza e divisione dei compiti.
  </p>

  <div class="h-20 mt-10 flex justify-center items-center gap-10">
    <a href="{{ url_for('auth.login') }}" class="bg-linear-to-tr from-amber-800 via-amber-700 to-amber-500 
  w-fit text-2xl font-semibold border rounded-xl py-2 px-4 
  transition-all duration-200 ease-in 
  hover:scale-105 hover:cursor-pointer hover:bg-linear-to-bl">
      Inizia ora
    </a>

    <a href="{{ url_for('home.prodotti') }}" class="bg-linear-to-tr from-stone-700 via-stone-600 to-stone-500 
  w-fit text-2xl font-semibold border rounded-xl py-2 px-4 
  transition-all duration-200 ease-in 
  hover:scale-105 hover:cursor-pointer hover:bg-linear-to-bl">
      I nostri prodotti
    </a>
  </div>
</section>