<nav class="flex items-center">
  <ul class="flex-1 flex justify-end items-center h-full gap-3 text-lg font-semibold">
    <li><a href="{{ url_for('home.dashboard') }}" class="flex gap-1 hover:font-bold"><i class="bi bi-table"></i>Dashboard</a></li>
    <li><a href="{{ url_for('home.index') }}" class="flex gap-1 hover:font-bold"><i class="bi bi-wechat"></i>Contattaci</a></li>
    <li><a href="{{ url_for('auth.login') }}" class="flex gap-1 hover:font-bold"><i class="bi bi-person-circle"></i>Accedi</a></li>
  </ul>
</nav>