# Dev Database
DATABASE_DEV=sqlite:///<nome-database>.db

# Prod Database
DATABASE_PROD=

# Secret Key to sign Cookies
SECRET_KEY=...


# itsdangerous Configuration 
AUTHENTICATION_SALT=...
RESET_PASSWORD_SALT=...


# Flask env
FLASK_ENV=dev


# Api key Stripe
STRIPE_PUBLIC_KEY=pk_test...

STRIPE_SECRET_KEY=sk_test...

STRIPE_WEBHOOK_SECRET=whsec...


# Credenziali mail con password app
# Flask Mail Setup
MAIL_SERVER=provider-server
MAIL_PORT=porta-mail
MAIL_USE_TLS=boolean-value
MAIL_SUPPRESS_SEND=boolean-value

MAIL_USERNAME=tuamail@example.com
MAIL_PASSWORD=password-app-senza-spazi

MAIL_DEFAULT_SENDER=mail-username