# Dev Database
DATABASE_DEV=sqlite:///<nome-database>.db

# Prod Database
DATABASE_PROD=

# Secret Key to sign Cookies
SECRET_KEY=...

# Mail Configuration
SENDGRID_API_KEY=SG...
SENDGRID_FROM_EMAIL=tua-email@example.com

# itsdangerous Configuration 
AUTHENTICATION_SALT=...
RESET_PASSWORD_SALT=...

# Flask env
FLASK_ENV=dev

# Api key Stripe
STRIPE_PUBLIC_KEY=pk_test...

STRIPE_SECRET_KEY=sk_test...

STRIPE_WEBHOOK_SECRET=whsec...