{% extends 'base.html' %}

{% block title %}
Admin | Management
{% endblock %}

{% block header %}
<div class="flex items-center h-full justify-between">

  <div class="h-full px-5 flex items-center text-xl font-semibold cursor-pointer hover:underline">
    <a href="{{ url_for('home.dashboard') }}"><i class="bi bi-arrow-left mr-2"></i>Torna alla dashboard</a>
  </div>

  <h1 class="text-5xl py-2 text-center font-bold">Pannello di amministrazione</h1>

  <div class="text-3xl pr-5">
    {{ current_user.username }}
  </div>
</div>
{% endblock %}

{% block main %}
<div class="h-full grid grid-cols-4 gap-2 p-2 relative">

  <aside class="bg-black/70 border border-white rounded-lg overflow-y-scroll flex flex-col">
    <div class="filtro-prodotti">
      <h2 class="text-center border-b">FILTRI PRODOTTI</h2>
      <!-- search bar -->
      <div class="p-4 border-b border-white/10">
        <input type="text" id="search-input" placeholder="Cerca..."
          class="w-full bg-black/50 border border-white/20 rounded p-2
           text-white outline-none focus:border-lime-500">
      </div>
    </div>

    <!-- navigazione tra le tabelle -->
    <nav class="flex-1 p-2">
      
      <!-- filtro categorie -->
      <div class="filtro-prodotti">
        <ul id="lista-categorie" class="space-y-2">
          {% for categoria in categorie %}
            <li data-categoria="{{ categoria.id }}">
              <button class="text-left cursor-pointer w-full p-3 rounded
               hover:bg-lime-500/70 text-gray-300 hover:text-black 
               transition-all duration-150 ease-in">
                <i class="bi bi-tag mr-2"></i>
                {{ categoria.nome }}
              </button>
            </li>
          {% endfor %}
        </ul>
      </div>

      <!-- filtro ordini -->
      <div class="filtro-ordini hidden">
        <h3 class="border-b text-center">FILTRI ORDINI</h3>
        <ul id="lista-stati-ordine" class="space-y-2">
          {% for ordine in ordini %}
            <li data-ordine="{{ ordine.lower() }}">
              <button class="text-left cursor-pointer w-full p-3 rounded
               hover:bg-lime-500/70 text-gray-300 hover:text-black 
               transition-all duration-150 ease-in">
                <i class="bi bi-tag mr-2"></i>
                {{ ordine }}
              </button>
            </li>
          {% endfor %}
        </ul>
      </div>

      <!-- TABELLE -->
      <h3 class="mt-3 border-y border-white text-center">MODELLI TABELLE</h3>
      <ul id="lista-tabelle" class="space-y-2">
        <li data-tipo="prodotti">
          <button
            class="cursor-pointer w-full text-left p-3 rounded
             hover:bg-lime-500/70 text-gray-300 hover:text-black 
             transition-all duration-150 ease-in">
            <i class="bi bi-box-seam mr-2"></i> 
            Prodotti
          </button>
        </li>
        <li data-tipo="utenti">
          <button class="cursor-pointer w-full text-left p-3 rounded
           hover:bg-lime-500/70 text-gray-300 hover:text-black 
           transition-all duration-150 ease-in">
            <i class="bi bi-people mr-2"></i> 
            Utenti
          </button>
        </li>
        <li data-tipo="ordini">
          <button class="cursor-pointer w-full text-left p-3 rounded
           hover:bg-lime-500/70 text-gray-300 hover:text-black 
           transition-all duration-150 ease-in">
            <i class="bi bi-journal-bookmark mr-2"></i> 
            Ordini
          </button>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- main content -->
  <section class="col-span-3 bg-black/70 border border-white 
  rounded-lg overflow-hidden flex flex-col">

    <!-- header della sezione e tasto aggiungi -->
    <header class="p-4 border-b border-white/10 flex justify-between items-center bg-black/20">
      <h2 id="nome-tabella" class="text-xl font-bold uppercase tracking-tight text-lime-500"></h2>
      <button id="apri-modal" class="cursor-pointer bg-lime-600 hover:bg-lime-500 
      text-black px-4 py-2 rounded font-bold transition-all">
        <i class="bi bi-plus-lg"></i>
        Aggiungi
      </button>
    </header>

    <!-- corpo della sezione -->
    <div id="table-container" class="flex-1 overflow-auto"></div>
  </section>

  <!-- Modale per aggiunta/modifica del prodotto -->
  <div id="modal"
    class="fixed inset-0 bg-black/80 backdrop-blur-sm hidden items-center justify-center z-50 p-4">
    
    <div class="bg-zinc-900 border border-white/20 p-8 rounded-xl w-full max-w-lg shadow-2xl">
      <h2 id="modal-title" class="text-2xl font-bold text-lime-500 mb-6 uppercase">Aggiungi Prodotto</h2>

      <form id="form" class="space-y-4">
        <div id="form-container"></div>
        <div>
          <div>
            <button id="annulla" type="reset" class="cursor-pointer bg-red-600 hover:bg-red-500 
            text-black px-4 py-2 rounded font-bold transition-all w-full">
              Annulla
            </button>
            <button id="salva" type="submit" class="cursor-pointer bg-lime-600 hover:bg-lime-500 
            text-black px-4 py-2 rounded font-bold transition-all w-full">
              Salva
            </button>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}




{% block javascript %}
<script src="{{ url_for('home.static', filename='admin.js') }}"></script>
<script defer src="{{ url_for('home.static', filename='filtri-tabelle.js') }}"></script>
{% endblock %}