{% extends 'base.html' %}

{% block title %} Gestionale Magazzino | Login {% endblock %}

{% block header %}
<div class="text-xl font-semibold cursor-pointer hover:text-amber-500/80">
  <a href="{{ url_for('home.index') }}"><i class="bi bi-arrow-left mr-2"></i>Torna alla home</a>
</div>
{% endblock %}

{% block main %}
<div class="flex flex-col lg:flex-row gap-5 max-w-5xl mx-auto justify-center items-center mt-[5%]">
  <div class="flex-1 px-8">
    <h1 class="text-5xl font-bold text-center">Bentornato!</h1>
  </div>
  <div class="flex-1 bg-black/50 border rounded-xl p-10 mx-auto">

    <!-- Flash message -->
    <div id="flash" class="hidden py-2 px-4 text-black rounded">
      <i id="message-icon"></i>
      <span id="message-text" class="ml-1"></span>  
    </div>

    {% set res = result or request.args.get("result") %}
    {% set msg = message or request.args.get("message") %}
    
    {% if res %}  
      {% if res == "success" %}
        <div id="result-success" class="py-2 px-4 text-black rounded bg-green-400"> 
          <i class="bi bi-check-circle-fill"></i>
          <span class="ml-1">{{ msg }}</span>
        </div>
      {% elif res == "error" %}
        <div id="result-error" class="py-2 px-4 text-black rounded bg-red-400"> 
          <i class="bi bi-exclamation-triangle-fill"></i>
          <span class="ml-1">{{ msg }}</span>
        </div>
      {% endif %}  
    {% endif %}
    
    <form id="login-form" action="{{ url_for('auth.login') }}" method="post" novalidate 
      class="flex flex-col gap-1 text-lg">

      {{ form.hidden_tag() }}

      {{ form.email.label(class="font-semibold text-xl") }}
      {{ form.email(class="border-t border-white py-2 px-3 outline-none placeholder:italic placeholder:text-xl focus:placeholder:text-transparent focus:border-none focus:ring-2 focus:ring-amber-500 focus:rounded-md") }}
      <small id="email-error" class="hidden p-1 text-black bg-red-400 rounded"></small>

      {{ form.password.label(class="font-semibold text-xl") }}
      {{ form.password(class="border-t border-white py-2 px-3 outline-none placeholder:text-2xl
      focus:placeholder:text-transparent focus:border-none focus:ring-2 focus:ring-amber-500 focus:rounded-md") }}
      <small id="password-error" class="hidden p-1 text-black bg-red-400 rounded"></small>

      <div class="flex gap-2 items-center ml-auto w-fit pb-2 hover:text-amber-500 hover:cursor-pointer">
        {{ form.remember.label(class="hover:cursor-pointer") }}
        {{ form.remember(class="hover:cursor-pointer w-5 h-5 accent-amber-500") }}
      </div>

      <button type="submit" id="submit-btn" class="flex justify-center items-center gap-2 font-semibold bg-linear-to-tr from-amber-800 via-amber-700 to-amber-500 border rounded-xl py-2 px-4 hover:scale-105 hover:cursor-pointer hover:bg-linear-to-bl transition-all duration-100 ease-in disabled:opacity-50 disabled:cursor-not-allowed">
        <span id="btn-text">Accedi</span>
        <i id="btn-spinner" class="bi bi-arrow-repeat animate-spin hidden"></i>
      </button>

    </form>  
    
    <div class="flex justify-between flex-col items-center gap-5 mt-3 text-md xl:text-lg">
      <p>
        Non hai un account? 
        <a href="{{ url_for('auth.register') }}" class="text-amber-500 font-semibold hover:underline">Registrati!</a>
      </p>
      <a href="{{ url_for('auth.forgot_password') }}" class=" text-amber-500 font-semibold hover:underline">Password dimenticata?</a>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
  <script src="{{ url_for('auth.static', filename='login.js') }}"></script>
{% endblock %}