<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- meta tags for SEO -->
  <meta name="author" content="Matty-Coding">
  <meta name="description"
    content="Gestionale magazzino Full-Stack Project, backend Flask e frontend Tailwind e JavaScript Vanilla">

  <!-- favicon png format (size: 32x32) -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='logo.png') }}">

  <!-- CSRF token -->
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <!-- import tailwind -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

  <!-- import bootstrap icons -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">

  <!-- Jinja block title -->
  <title>{% block title %}{% endblock %}</title>

</head>

<body 
  class="bg-[url('/static/images/hero.png')] 
    bg-no-repeat bg-fixed bg-cover 
    flex flex-col h-dvh text-white backdrop-blur-[3px]"
>

  <!-- header -->
  <header class="h-20 p-2 sticky top-0">
    {% block header %}{% endblock %}
  </header>
  
  <!-- main per contenuto core della pagina -->
  <main class="flex-1">
    <section>{% block main %}{% endblock %}</section>
  </main>

  <!-- footer -->
  <footer id="footer">{% block footer %}{% endblock %}</footer>
  
  {% block javascript %}{% endblock %}

</body>

</html>